## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [30]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [31]:
#Primeiramente , optei por criar o mesmo df apresentado acima, podendo acessar os valores posteriormente no cod.
assuntos = ['Matemática','Português','Geografia','Inglês','História','Física','Química']
qnt_questoes = [24,18,8,8,8,12,12]
df_questoes = pd.DataFrame({'Quantidade_Questões':qnt_questoes},index=assuntos)

#Também achei mais prático ter um dataframe com todos os acertos e todoas as matérias
df_acertos = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)
df_acertos.columns = ['Matemática', 'Português', 'Geografia', 'Inglês', 'História', 'Física', 'Química']

In [32]:
# 1) Seu código aqui
#aqui dividimos o df acertos pelo df de quantidade de questões e já multiplicamos por 100 afim de conseguir porcentagem
df_percentual_acertos = df_acertos.div(df_questoes['Quantidade_Questões'], axis=1) * 100
df_percentual_acertos

    Matemática  Português  Geografia  Inglês  História     Física    Química
0    25.000000  38.888889       87.5    37.5      12.5  66.666667  25.000000
1    79.166667  55.555556        0.0     0.0       0.0  91.666667  66.666667
2    58.333333  88.888889        0.0    62.5      87.5  33.333333  33.333333
3    41.666667  38.888889       37.5    50.0       0.0   0.000000  66.666667
4    29.166667  11.111111       25.0    87.5       0.0  75.000000  25.000000
..         ...        ...        ...     ...       ...        ...        ...
95   25.000000  22.222222       87.5    12.5      50.0  75.000000  25.000000
96   33.333333   5.555556       50.0    75.0      12.5  33.333333  25.000000
97   95.833333  27.777778        0.0    25.0      50.0   8.333333  41.666667
98    0.000000  55.555556       37.5    12.5      62.5  83.333333  91.666667
99   45.833333  83.333333        0.0    12.5      75.0  58.333333  16.666667

[100 rows x 7 columns]

In [33]:
# 2) Seu código aqui
#aqui calculamos o total de acertos e acrescentamos isso a uma nova coluna
df_acertos['Total_Acertos'] = df_acertos.sum(axis=1)
df_acertos

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34
96,8,1,4,6,1,4,3,27
97,23,5,0,2,4,1,5,40
98,0,10,3,1,5,10,11,40
99,11,15,0,1,6,7,2,42

In [34]:
# 3) Seu código aqui
#
total_questoes = df_questoes['Quantidade_Questões'].sum()

df_acertos['Percentual_Geral'] = (df_acertos['Total_Acertos'] / total_questoes) * 100

df_acertos.head()

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Percentual_Geral
0,6,7,7,3,1,8,3,35,38.888889
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
3,10,7,3,4,0,0,8,32,35.555556
4,7,2,2,7,0,9,3,30,33.333333

In [35]:
# 4) Seu código aqui
alunos_aprovados = df_acertos[df_acertos['Total_Acertos'] > 45]
alunos_aprovados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Percentual_Geral
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
5,20,2,5,3,2,9,9,50,55.555556
7,18,4,4,7,7,1,8,49,54.444444
8,22,9,2,7,6,5,7,58,64.444444
17,21,15,2,2,4,2,6,52,57.777778
18,20,4,3,5,3,11,4,50,55.555556
20,23,11,6,5,6,2,0,53,58.888889
24,20,2,7,5,3,11,2,50,55.555556
27,21,13,1,5,7,3,0,50,55.555556
31,15,13,3,1,3,9,10,54,60.000000
35,11,14,6,3,3,0,11,48,53.333333
36,22,9,6,6,1,4,8,56,62.222222
37,19,12,5,7,1,6,2,52,57.777778
39,4,16,2,4,6,9,8,49,54.444444
40,18,3,6,3,6,5,6,47,52.222222
42,20,6,7,7,2,3,3,48,53.333333
45,17,10,0,2,6,9,4,48,53.333333
48,17,6,0,7,5,9,11,55,61.111111
60,16,8,0,4,4,7,9,48,53.333333
62,17,6,2,4,7,1,9,46,51.111111
67,21,0,7,2,4,2,10,46,51.111111
70,21,14,0,3,5,11,8,62,68.888889
71,17,8,7,6,4,2,9,53,58.888889
72,11,16,3,4,7,0,9,50,55.555556
77,15,2,5,7,6,11,7,53,58.888889
78,14,16,7,2,7,11,9,66,73.333333
81,22,16,2,0,4,1,10,55,61.111111
88,20,1,1,5,7,9,7,50,55.555556
89,23,11,7,7,6,9,0,63,70.000000
93,12,16,5,5,6,6,6,56,62.222222

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [49]:
#1) seu código aqui
#aqui vamos filtrar quem zerou em matemática, física ou química, dentro os alunos aprovados(acima da média de 45 acertos)
alunos_desqualificados =  df_acertos[(df_acertos['Matemática'] == 0) | 
                                     (df_acertos['Física']     == 0) | 
                                     (df_acertos['Química']    == 0) ]
alunos_desqualificados

,Matemática,Português,Geografia,Inglês,História,Física,Química,Total_Acertos,Percentual_Geral
3,10,7,3,4,0,0,8,32,35.555556
6,6,0,7,7,5,0,4,29,32.222222
10,10,8,3,2,1,7,0,31,34.444444
12,20,8,3,7,1,0,3,42,46.666667
14,7,11,1,7,1,4,0,31,34.444444
20,23,11,6,5,6,2,0,53,58.888889
25,0,4,7,4,0,4,8,27,30.000000
26,11,14,6,2,7,0,0,40,44.444444
27,21,13,1,5,7,3,0,50,55.555556
33,14,8,0,5,6,6,0,39,43.333333
35,11,14,6,3,3,0,11,48,53.333333
49,8,1,1,0,1,0,8,19,21.111111
56,7,6,7,5,6,0,8,39,43.333333
65,1,8,2,4,3,0,6,24,26.666667
66,5,4,3,6,3,0,10,31,34.444444
72,11,16,3,4,7,0,9,50,55.555556
73,1,16,2,4,3,0,11,37,41.111111
74,9,11,0,7,5,7,0,39,43.333333
84,15,1,0,5,1,0,4,26,28.888889
89,23,11,7,7,6,9,0,63,70.000000
92,14,10,1,6,1,8,0,40,44.444444
94,0,5,2,6,1,3,8,25,27.777778
98,0,10,3,1,5,10,11,40,44.444444

In [50]:
#2) seu código aqui
#aqui vamos ver o "comprimento" das linhas para contarmos quantos alunos temos nesse df já filtrado com os desclassificados
nmr_alunos_desqualificados = len(alunos_desqualificados)
nmr_alunos_desqualificados

23

In [51]:
#3) seu código aqui
#aqui filtramos as variáveis que queremos do df e usamos .mean para obtermos uma média desses valores
m_a_desql_hist_geo = alunos_desqualificados[['História','Geografia']].mean()
m_a_desql_hist_geo

História     3.434783
Geografia    3.217391
dtype: float64

In [ ]:
#4) seu código aqui
segunda_fase = alunos_aprovados - alunos_desqualificados

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [111]:
#para esse exercício, eu fui até o site indicado e baixei a base de dados part1 do acre, pois o trazer o link diretamente não funcionou.

df = pd.read_csv('part-00000-b666e24f-b8d2-4194-be7a-f15c5773e434.c000.csv', sep=';')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390911 entries, 0 to 390910
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               390911 non-null  object
 1   paciente_id                               390911 non-null  object
 2   paciente_idade                            390911 non-null  int64
 3   paciente_dataNascimento                   390911 non-null  object
 4   paciente_enumSexoBiologico                390911 non-null  object
 5   paciente_racaCor_codigo                   390911 non-null  int64
 6   paciente_racaCor_valor                    390911 non-null  object
 7   paciente_endereco_coIbgeMunicipio         388458 non-null  float64
 8   paciente_endereco_coPais                  388464 non-null  float64
 9   paciente_endereco_nmMunicipio             388463 non-null  object
 10  paciente_endereco_nmPais                  388464 non-null  object
 11  paciente_endereco_uf                      388458 non-null  object
 12  paciente_endereco_cep                     333695 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  390732 non-null  object
 14  estabelecimento_valor                     390911 non-null  int64
 15  estabelecimento_razaoSocial               390911 non-null  object
 16  estalecimento_noFantasia                  390911 non-null  object
 17  estabelecimento_municipio_codigo          390911 non-null  int64
 18  estabelecimento_municipio_nome            390911 non-null  object
 19  estabelecimento_uf                        390911 non-null  object
 20  vacina_grupoAtendimento_codigo            390911 non-null  int64
 21  vacina_grupoAtendimento_nome              389567 non-null  object
 22  vacina_categoria_codigo                   370178 non-null  float64
 23  vacina_categoria_nome                     370178 non-null  object
 24  vacina_lote                               390911 non-null  object
 25  vacina_fabricante_nome                    390911 non-null  object
 26  vacina_fabricante_referencia              385633 non-null  object
 27  vacina_dataAplicacao                      390911 non-null  object
 28  vacina_descricao_dose                     390911 non-null  object
 29  vacina_codigo                             390911 non-null  int64
 30  vacina_nome                               390902 non-null  object
 31  sistema_origem                            390512 non-null  object
dtypes: float64(4), int64(6), object(22)
memory usage: 95.4+ MB

In [119]:
#criei esse subset para ver melhor as idenficações unicas do estabelecimento
df_subset = df[['estabelecimento_valor','estabelecimento_razaoSocial','estalecimento_noFantasia','estabelecimento_municipio_codigo','estabelecimento_municipio_nome','estabelecimento_uf']]
df_subset.head(15)

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
0,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
1,2000016,PREFEITURA MUNICIPAL DE RODRIGUES ALVES,UNIDADE BASICA PADRE TEODORO ARNDS,120042,RODRIGUES ALVES,AC
2,2001349,PREFEITURA MUNICIPAL DE BRASILEIA,ESF TUFIC MIZAEL SAADY,120010,BRASILEIA,AC
3,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
4,6992811,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE MANOEL FERNANDES VIEIRA,120050,SENA MADUREIRA,AC
5,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
7,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
8,2002922,SECRETARIA MUNICIPAL DE SAUDE,U S F JOAO DE DEUS,120038,PLACIDO DE CASTRO,AC
9,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
10,2000482,PREFEITURA MUNICIPAL DE RIO BRANCO,URAP VILA IVONETE,120040,RIO BRANCO,AC
11,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
12,2001217,PREFEITURA MUNICIPAL DE XAPURI,UNIDADE SAUDE DA FAMILIA JOSE FADUL,120070,XAPURI,AC
13,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
14,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC

In [83]:
# 1) Sua solução aqui
qnt_vacinas = df['vacina_nome'].nunique()
qnt_vacinas

15

In [94]:
# 2)
pacientes_vacinados = df['paciente_id'].nunique()
pacientes_vacinados

318850

In [99]:
# 3)
tipos_dose = df['vacina_descricao_dose'].unique()

pacientes_primeira_dose = df[df['vacina_descricao_dose'].str.contains('1ª|Primeira', na=False)]['paciente_id'].nunique()

pacientes_primeira_dose

144276

In [100]:
# 4)
pacientes_menores_18 = df[df['paciente_idade'] < 18]['paciente_id'].nunique()
pacientes_menores_18

69726

In [120]:
# 5)
#a coluna estabelecimento_valor apresenta um valor unico para cada estabelecimento
qnt_estabelecimentos = df['estabelecimento_valor'].nunique()
qnt_estabelecimentos

229

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vacinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [121]:
# 1)
df_menores_18 = df[df['paciente_idade'] < 18].copy()

In [123]:
# 2)
colunas_df = df_menores_18.columns.tolist()
colunas_df

['document_id',
 'paciente_id',
 'paciente_idade',
 'paciente_dataNascimento',
 'paciente_enumSexoBiologico',
 'paciente_racaCor_codigo',
 'paciente_racaCor_valor',
 'paciente_endereco_coIbgeMunicipio',
 'paciente_endereco_coPais',
 'paciente_endereco_nmMunicipio',
 'paciente_endereco_nmPais',
 'paciente_endereco_uf',
 'paciente_endereco_cep',
 'paciente_nacionalidade_enumNacionalidade',
 'estabelecimento_valor',
 'estabelecimento_razaoSocial',
 'estalecimento_noFantasia',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf',
 'vacina_grupoAtendimento_codigo',
 'vacina_grupoAtendimento_nome',
 'vacina_categoria_codigo',
 'vacina_categoria_nome',
 'vacina_lote',
 'vacina_fabricante_nome',
 'vacina_fabricante_referencia',
 'vacina_dataAplicacao',
 'vacina_descricao_dose',
 'vacina_codigo',
 'vacina_nome',
 'sistema_origem']

In [125]:
# 3)
contagem_vacinas = len(df_menores_18['vacina_categoria_nome'])
contagem_vacinas

79220

In [135]:
# 4)
colunas_estabelecimento = ['estabelecimento_valor','estabelecimento_razaoSocial','estalecimento_noFantasia','estabelecimento_municipio_codigo','estabelecimento_municipio_nome','estabelecimento_uf']
df_estabelecimentos = df_menores_18.loc[:, colunas_estabelecimento]
df_estabelecimentos

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
4,6992811,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE MANOEL FERNANDES VIEIRA,120050,SENA MADUREIRA,AC
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
8,2002922,SECRETARIA MUNICIPAL DE SAUDE,U S F JOAO DE DEUS,120038,PLACIDO DE CASTRO,AC
10,2000482,PREFEITURA MUNICIPAL DE RIO BRANCO,URAP VILA IVONETE,120040,RIO BRANCO,AC
11,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
...,...,...,...,...,...,...
390881,2000660,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,CENTRO DE SAUDE MARIA DO SOCORRO CAVALCANTE,120045,SENADOR GUIOMARD,AC
390885,5354072,PREFEITURA MUNICIPAL DE JORDAO,UNIDADE DE SAUDE DA FAMILIA ANTONIO RODRIGUES ...,120032,JORDAO,AC
390892,6934013,PREFEITURA MUNICIPAL DE FEIJO,U S F DR JOSE LUIZ DE SOUZA,120030,FEIJO,AC
390894,2001225,PREFEITURA MUNICIPAL DE XAPURI,UNIDADE DE SAUDE DA FAMILIA JOSE FRANCISCO SILVA,120070,XAPURI,AC
390907,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC

In [137]:
# 5)
df_estabelecimentos_unicos = df_estabelecimentos.drop_duplicates()

vacinas_por_estabelecimento = df_menores_18.groupby(['estabelecimento_razaoSocial']).size().reset_index(name='qtd_vacinas_aplicadas')

df_estabelecimentos_vacinas = df_estabelecimentos_unicos.merge(vacinas_por_estabelecimento, on='estabelecimento_razaoSocial')

df_estabelecimentos_vacinas

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf,qtd_vacinas_aplicadas
0,6992811,PREFEITURA MUNICIPAL DE SENA MADUREIRA,UNIDADE BASICA DE SAUDE MANOEL FERNANDES VIEIRA,120050,SENA MADUREIRA,AC,2464
1,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC,27622
2,2002922,SECRETARIA MUNICIPAL DE SAUDE,U S F JOAO DE DEUS,120038,PLACIDO DE CASTRO,AC,1420
3,2000482,PREFEITURA MUNICIPAL DE RIO BRANCO,URAP VILA IVONETE,120040,RIO BRANCO,AC,27622
4,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC,2090
...,...,...,...,...,...,...,...
208,2001357,SECRETARIA MUNICIPAL DE SAUDE DE BRASILEIA,ESF PEDRO OLIVEIRA DE SOUZA,120010,BRASILEIA,AC,4
209,783722,SECRETARIA MUNICIPAL DE SAUDE,UNIDADE BASICA JOSE SOUZA CORREIA,120042,RODRIGUES ALVES,AC,1420
210,2001837,PREFEITURA MUNICIPAL DE RIO BRANCO,USF SANTA INES I,120040,RIO BRANCO,AC,27622
211,6411312,PREFEITURA MUNICIPAL DE PLACIDO DE CASTRO,U S F LUCIO ALVES DA SILVA,120038,PLACIDO DE CASTRO,AC,10
212,2832798,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,UNIDADE DE SAUDE ALBERTO FLORENCIO DA SILVA,120025,EPITACIOLANDIA,AC,912