# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

In [9]:
# Seu código aqui
ano = [1900 , 1920 , 1940 , 1960 , 1980 , 2000 , 2020]
anomalia_termica = [-0.08 , -0.27 , 0.12 , -0.03 , 0.26 , 0.40 , 1.02]
estudo_nasa = pd.Series(anomalia_termica)
estudo_nasa

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:
# seu código aqui
estudo_nasa = pd.Series(anomalia_termica, index=ano)
estudo_nasa

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturas = pd.Series(dic_temperaturas)
temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [14]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   100.790109   92.298800   96.752955
1    75.019179   93.453442   86.160106
2   112.134035   85.870782  103.431088
3   111.086261   99.948158   88.918423
4    89.056311  111.030152  119.617718
5   100.357023   96.583485   95.430160
6   104.366121   88.827160  117.011504
7   110.904694  102.921973   85.092801
8    71.921517   86.409641   95.406918
9   104.392950  110.369402  104.597576
10  103.213789   99.498295   99.905220
11   87.836366   92.522029   89.914149
12  109.401795   91.429554  128.425505
13  103.280504   94.627303   98.626566
14  111.401503   95.907133   86.330436
15  116.837777   95.311156   93.025092
16   96.019508   97.112404   82.772986
17  112.754327  118.909852   98.382636
18   79.178239  105.310900  109.557768
19  109.517474  103.568247  105.120212

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [35]:
#seu código aqui
array = np.random.rand(20, 3)

df = pd.DataFrame(array, index=range(1, 21), columns=['x1', 'x2', 'x3'])

df

          x1        x2        x3
1   0.979309  0.972247  0.231413
2   0.700257  0.326905  0.764071
3   0.828475  0.028807  0.768817
4   0.853552  0.990862  0.217380
5   0.475030  0.167132  0.115215
6   0.916591  0.128366  0.230486
7   0.783148  0.405991  0.237826
8   0.400279  0.488305  0.621234
9   0.247326  0.073082  0.405239
10  0.712638  0.282947  0.389219
11  0.404638  0.350042  0.218815
12  0.306822  0.148505  0.318026
13  0.871711  0.126956  0.302467
14  0.602295  0.718348  0.816113
15  0.226546  0.739520  0.371310
16  0.830721  0.853489  0.000601
17  0.417256  0.823227  0.782967
18  0.875906  0.862774  0.998919
19  0.605762  0.215489  0.424342
20  0.670960  0.987398  0.974327

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [36]:
# seu código aqui
df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)
df

          x1        x2        x3     media
1   0.979309  0.972247  0.231413  0.727656
2   0.700257  0.326905  0.764071  0.597078
3   0.828475  0.028807  0.768817  0.542033
4   0.853552  0.990862  0.217380  0.687264
5   0.475030  0.167132  0.115215  0.252459
6   0.916591  0.128366  0.230486  0.425148
7   0.783148  0.405991  0.237826  0.475655
8   0.400279  0.488305  0.621234  0.503273
9   0.247326  0.073082  0.405239  0.241883
10  0.712638  0.282947  0.389219  0.461601
11  0.404638  0.350042  0.218815  0.324498
12  0.306822  0.148505  0.318026  0.257784
13  0.871711  0.126956  0.302467  0.433711
14  0.602295  0.718348  0.816113  0.712252
15  0.226546  0.739520  0.371310  0.445792
16  0.830721  0.853489  0.000601  0.561604
17  0.417256  0.823227  0.782967  0.674483
18  0.875906  0.862774  0.998919  0.912533
19  0.605762  0.215489  0.424342  0.415198
20  0.670960  0.987398  0.974327  0.877562

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [37]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

          x1        x2        x3     media   log_med
1   0.979309  0.972247  0.231413  0.727656 -0.317927
2   0.700257  0.326905  0.764071  0.597078 -0.515708
3   0.828475  0.028807  0.768817  0.542033 -0.612429
4   0.853552  0.990862  0.217380  0.687264 -0.375036
5   0.475030  0.167132  0.115215  0.252459 -1.376507
6   0.916591  0.128366  0.230486  0.425148 -0.855319
7   0.783148  0.405991  0.237826  0.475655 -0.743062
8   0.400279  0.488305  0.621234  0.503273 -0.686623
9   0.247326  0.073082  0.405239  0.241883 -1.419303
10  0.712638  0.282947  0.389219  0.461601 -0.773054
11  0.404638  0.350042  0.218815  0.324498 -1.125475
12  0.306822  0.148505  0.318026  0.257784 -1.355632
13  0.871711  0.126956  0.302467  0.433711 -0.835376
14  0.602295  0.718348  0.816113  0.712252 -0.339323
15  0.226546  0.739520  0.371310  0.445792 -0.807903
16  0.830721  0.853489  0.000601  0.561604 -0.576959
17  0.417256  0.823227  0.782967  0.674483 -0.393808
18  0.875906  0.862774  0.998919  0.912533 -0.091531
19  0.605762  0.215489  0.424342  0.415198 -0.879000
20  0.670960  0.987398  0.974327  0.877562 -0.130608